.mat-table {
    overflow: auto;
}

.mat-column-solicitante {
    font-size: 12px;
    min-width: 200px;
    width: 100%;
}

.mat-column-conductor {
    min-width: 200px;
    font-size: 12px;
    width: 100%;
}

.mat-column-origen,
.mat-column-destino {
    min-width: 250px;
    font-size: 12px;
    width: 100%;
}

.mat-column-fechasolicitud,
.mat-column-horaInicio,
{
    min-width: 110px;
    font-size: 12px;
    width: 100%;
}

.mat-column-unidad {
    min-width: 90px;
    font-size: 12px;
    width: 100%;
}

.mat-column-placa {
    min-width: 90px;
    font-size: 12px;
    width: 100%;
}

.mat-column-monto {
    min-width: 80px;
    font-size: 12px;
    width: 100%;
}

.mat-column-montoliquidado {
    font-size: 12px;
    min-width: 90px;
    width: 100%;
}

.mat-column-observacion {
    font-size: 12px;
    min-width: 200px;
    width: 100%;
}

.mat-column-atencionobservacion {
    font-size: 12px;
    min-width: 100px;
    width: 100%;
}

.mat-column-actions {
    min-width: 90px;
    font-size: 12px;
    width: 100%;
}

.mat-row,
.mat-header-row {
    min-width: 2100px;
    width: 100%;
}