<div id='content'>
    <m-portlet [options]="{headLarge: true, enableSticky: false}" [loading$]="loading$">
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ getComponentTitle() }}
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletHeadTools>
            <button class="btn btn-secondary m-btn m-btn--custom m-btn--icon" (click)="goBack()" data-wizard-action="prev">
                <span>
                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                    <span>Regresar Listado</span>
                </span>
            </button>&nbsp;
            <a *ngIf="isNewEmpresa" [routerLink]="['/configuracion/empresa/add']" mat-raised-button style="background: #F2242E !important; color:white" matTooltip="Crear nueva empresa">Nueva Empresa</a>
        </ng-container>

        <ng-container mPortletBody>
            <div class="m-form">
                <mat-horizontal-stepper [linear]="true" #stepper>
                    <mat-step #myStep [completed]="step1Completed">
                        <form [formGroup]="formEmpresa" (ngSubmit)="onSubmit()" class="m-form m-form--group-seperator-dashed">
                            <ng-template matStepLabel>Datos Empresa</ng-template>
                            <br>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Razón Social" formControlName="razonSocial">
                                            <mat-error>
                                                Razón Social
                                                <strong>es obligatorio.</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Razón Social</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese RUC" formControlName="ruc" required maxlength="11" minlength="11">

                                            <!-- <span *ngIf="formEmpresa?.controls.ruc?.errors?.minLength">Minimum Length is 5</span> -->
                                            <mat-error><span *ngIf="formEmpresa.controls['ruc'].hasError('required')">RUC <strong>es obligario</strong></span></mat-error>
                                            <mat-error><span *ngIf="formEmpresa.controls['ruc'].hasError('pattern')">RUC <strong>ingrese solo números.</strong></span></mat-error>
                                            <mat-error><span *ngIf="formEmpresa.controls['ruc'].hasError('minlength')">RUC <strong>debe tener 11 digitos.</strong></span></mat-error>
                                            <mat-error><span *ngIf="formEmpresa.controls['ruc'].hasError('maxlength')">RUC <strong>debe tener 11 digitos.</strong></span></mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>RUC</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Dominio" formControlName="dominio" required>
                                            <mat-error>
                                                Dominio
                                                <strong>es obligatorio.</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Dominio</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-4 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Dirección" formControlName="direccion">
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Dirección</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Rubro" formControlName="rubro">
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Rubro</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                </div>

                            </div>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-6 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Link del Logo" formControlName="linkImagen">
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Link del Logo</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 m--margin-bottom-10-mobile">
                                        <mat-checkbox formControlName="activo">Activo</mat-checkbox>
                                    </div>
                                </div>

                            </div>

                            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-4 m--align-left">
                                            <button class="btn btn-secondary m-btn m-btn--custom m-btn--icon" (click)="goBack()" data-wizard-action="prev">
                                                <span>
                                                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                    <span>Atrás</span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-4 m--align-right">
                                            <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" [disabled]="isUpdate" (click)="resetEmpresa()">
                                                <span>
                                                    <fa name="broom"></fa>&nbsp;
                                                    <span>Limpiar</span>
                                                </span>
                                            </button>&nbsp;&nbsp;
                                            <button type="submit" class="btn btn-danger m-btn m-btn--custom m-btn--icon" [disabled]="isSave" data-wizard-action="next">
                                                <span>
                                                    <i class="fa fa-spinner fa-spin" *ngIf="isSave"></i>
                                                    <span>Registrar y Continuar</span>&nbsp;
                                                    <i class="la la-arrow-right"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <form [formGroup]="formContacto" (ngSubmit)="submitContacto()" class="m-form m-form--group-seperator-dashed">
                            <ng-template matStepLabel>Datos Contacto</ng-template>
                            <br>
                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Nombres" formControlName="contactoNombres" required>
                                            <mat-error>
                                                Nombres
                                                <strong>es obligatorio</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Nombres</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Apellidos" formControlName="contactoApellidos" required>
                                            <mat-error>
                                                Apellidos
                                                <strong>es obligatorio</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Apellidos</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese DNI" formControlName="contactoDni" required maxlength="8" minlength="8">
                                            <mat-error><span *ngIf="formContacto.controls['contactoDni'].hasError('required')">DNI <strong>es obligario</strong></span></mat-error>
                                            <mat-error><span *ngIf="formContacto.controls['contactoDni'].hasError('pattern')">DNI <strong>ingrese solo números.</strong></span></mat-error>
                                            <mat-error><span *ngIf="formContacto.controls['contactoDni'].hasError('minlength')">DNI <strong>debe tener 8 digitos.</strong></span></mat-error>
                                            <mat-error><span *ngIf="formContacto.controls['contactoDni'].hasError('maxlength')">DNI <strong>debe tener 8 digitos.</strong></span></mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>DNI</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Email" formControlName="contactoEmail">
                                            <mat-error>
                                                Email
                                                <strong>no es correcto.</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Email</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Telefono / Celular" formControlName="contactoTelefono">
                                            <mat-error><span *ngIf="formContacto.controls['contactoTelefono'].hasError('pattern')"><strong>Ingrese solo números.</strong></span></mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Telefono / Celular</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 m--margin-bottom-10-mobile">
                                        <mat-checkbox formControlName="contactoPrincipal">Principal</mat-checkbox>
                                    </div>

                                    <div class="col-md-1 m--margin-bottom-10-mobile">
                                        <mat-checkbox formControlName="contactoActivo">Activo</mat-checkbox>
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-5 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-7 m--margin-bottom-10-mobile">
                                        <button type="button" class="mat-raised-button" (click)="resetContacto()">
                                            <span>
                                                <fa name="broom"></fa>&nbsp;
                                                <span>Limpiar</span>
                                            </span>
                                        </button>&nbsp;&nbsp;

                                        <button type="sumbit" class="btn btn-danger m-btn m-btn--custom m-btn--icon" [disabled]="isSave" data-wizard-action="next">
                                            <span>
                                                <fa name="save"></fa>&nbsp;
                                                <span>Registrar</span>&nbsp;
                                                <i class="fa fa-spinner fa-spin" *ngIf="isSave"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-1 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-10 m--margin-bottom-10-mobile">
                                        <div class="mat-table__wrapper">
                                            <mat-table class="mat-elevation-z8" [dataSource]="listDataContacto" matSort>
                                                <ng-container matColumnDef="nombreCompleto">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres y Apellidos</mat-header-cell>
                                                    <mat-cell *matCellDef="let lesson">{{lesson.nombreCompleto}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="dni">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                                                    <mat-cell *matCellDef="let lesson">{{lesson.dni}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="email">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                                    <mat-cell *matCellDef="let lesson">{{lesson.email}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="telefono">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
                                                    <mat-cell *matCellDef="let lesson">{{lesson.telefono}}</mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="principal">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Principal</mat-header-cell>
                                                    <mat-cell *matCellDef="let lesson">
                                                        <mat-checkbox [disabled]="true" [checked]="lesson.principal">
                                                        </mat-checkbox>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="activo">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                                                    <mat-cell *matCellDef="let lesson">
                                                        <span class="m-badge m-badge--{{ getEstadoCssClassByEstado(lesson.activo) }} m-badge--wide">{{ getEstadoString(lesson.activo) }}</span>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="actions">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Acciones
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let lesson">
                                                        <button mat-icon-button style="color: #2D2D2D !important" type="button" (click)="updateDatosContacto(lesson.contactoCliente)" matTooltip="Modificar Contacto">
                                                            <mat-icon>edit</mat-icon>
                                                        </button>&nbsp;
                                                        <button *ngIf="lesson.activo == true" mat-icon-button style="color: #F2242E !important" type="button" (click)="activarContacto(lesson.contactoCliente, lesson.activo)" matTooltip="Desactivar Área">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>&nbsp;

                                                        <button *ngIf="lesson.activo == false" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="activarContacto(lesson.contactoCliente, lesson.activo)" matTooltip="Activar Área">
                                                            <mat-icon>check_box</mat-icon>
                                                        </button>&nbsp;

                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="noData">
                                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                                        No se encontraron registros.
                                                    </mat-footer-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                                                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listDataContacto!=null && listDataContacto.data.length==0)}"></mat-footer-row>
                                            </mat-table>
                                        </div>

                                        <div class="mat-table__bottom">
                                            <mat-spinner [diameter]="20" *ngIf="searchBanContacto"></mat-spinner>
                                            <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                                        </div>
                                    </div>
                                    <div class="col-md-1 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>

                            <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-4 m--align-left">
                                            <button class="btn btn-secondary m-btn m-btn--custom m-btn--icon" matStepperPrevious>
                                                <span>
                                                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                    <span>Atrás</span>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-4 m--align-right">
                                            <button class="btn btn-danger m-btn m-btn--custom m-btn--icon" (click)="siguiente()">
                                                <span>
                                                    <span>Continuar</span>&nbsp;
                                                    <i class="la la-arrow-right"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Áreas y Aprobadores</ng-template>
                        <div class="m-form__group">
                            <div class="row m-row--no-padding m-row--col-separator-xl">
                                <div class="col-xl-6">
                                    <m-areas (arrayAprobadores)="arrayAprobadores=$event" (area_id)="area_id=$event" (nombre_area)="nombre_area=$event" [empresa_id]="empresa_id"></m-areas>
                                </div>
                                <div class="col-xl-6">
                                    <m-aprobadores [arrayAprobadores]="arrayAprobadores" [area_id]="area_id" [nombre_area]="nombre_area"></m-aprobadores>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-4 m--align-left">
                                        <button class="btn btn-secondary m-btn m-btn--custom m-btn--icon" matStepperPrevious>
                                                <span>
                                                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                    <span>Atrás</span>
                                                </span>
                                            </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </mat-step>

                </mat-horizontal-stepper>
            </div>

        </ng-container>

    </m-portlet>
</div>