.mat-column-nombreCompleto {
    font-size: 13px;
    min-width: 320px;
    width: 100%;
}

.mat-column-nombresApro {
    font-size: 13px;
    min-width: 250px;
    width: 100%;
}

.mat-column-email {
    font-size: 13px;
    min-width: 120px;
    width: 100%;
}

.mat-column-principal {
    font-size: 13px;
    text-align: center;
    min-width: 100px;
    width: 100%;
}

.mat-column-telefono {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}

td.mat-column-descripcion {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}

td.mat-column-nombre {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}

td.mat-column-centroCosto {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}