<div id='content'>
    <m-portlet [options]="{headLarge: true, enableSticky: false}" [loading$]="loading$">
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ getComponentTitle() }}
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletHeadTools>
            <button type="button" class="mat-raised-button" (click)="goBack()" data-wizard-action="prev">
                <span>
                    <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                    <span>Regresar Listado</span>
                </span>
            </button>&nbsp;
            <button *ngIf="!isUpdate" type="button" class="mat-raised-button" (click)="resetConductor()" [disabled]="isUpdate">
                <span>
                    <fa name="broom"></fa>&nbsp;
                    <span>Limpiar</span>
                </span>
            </button>&nbsp;

            <button *ngIf="isUpdate" type="button" class="mat-raised-button" [routerLink]="['/configuracion/conductor/add']">
                    <span>
                        <fa name="plus"></fa>&nbsp;
                        <span>Nuevo Conductor</span>
                    </span>
                </button>&nbsp;
            <button type="button" (click)="onSumbitNew()" class="btn btn-danger m-btn m-btn--custom m-btn--icon" [disabled]="isSave" matTooltip="Guardar Datos">
                <span>
                    <fa name="save"></fa>&nbsp;
                    <span>Registrar</span>&nbsp;
                    <i class="fa fa-spinner fa-spin" *ngIf="isSave"></i>
                </span>
            </button>
        </ng-container>

        <ng-container mPortletBody>
            <div class="m-form">
                <form [formGroup]="formConductor" class="m-form">

                    <div class="row">
                        <div class="col-xl-8">
                            <div class="col-xl-12">
                                <m-portlet>
                                    <ng-container mPortletHeadTitle>
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                Datos Personales
                                            </h3>
                                        </div>
                                    </ng-container>

                                    <ng-container mPortletBody>
                                        <div class="m-form__group">
                                            <div class="row">
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                                <div class="col-md-5 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese Nombres" formControlName="nombres">
                                                        <mat-error>
                                                            Nombres
                                                            <strong>es obligatorio.</strong>
                                                        </mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Nombres</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-5 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese Apellidos" formControlName="apellidos" required>
                                                        <mat-error>
                                                            Apellidos
                                                            <strong>es obligatorio.</strong>
                                                        </mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Apellidos</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-form__group">
                                            <div class="row">
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                                <div class="col-md-4 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese DNI" formControlName="dni">
                                                        <mat-error><span *ngIf="formConductor.controls['dni'].hasError('required')">DNI <strong>es obligario</strong></span></mat-error>
                                                        <mat-error><span *ngIf="formConductor.controls['dni'].hasError('pattern')">DNI <strong>ingrese solo números.</strong></span></mat-error>
                                                        <mat-error><span *ngIf="formConductor.controls['dni'].hasError('minlength')">DNI <strong>debe tener 8 digitos.</strong></span></mat-error>
                                                        <mat-error><span *ngIf="formConductor.controls['dni'].hasError('maxlength')">DNI <strong>debe tener 8 digitos.</strong></span></mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>DNI</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese Telefono" formControlName="telefono" required>
                                                        <mat-error>
                                                            Telefono
                                                            <strong>es obligatorio.</strong>
                                                        </mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Telefono</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2 m--margin-bottom-10-mobile">
                                                    <mat-checkbox formControlName="activo">Activo</mat-checkbox>
                                                </div>
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-form__group">
                                            <div class="row">
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                                <div class="col-md-10 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese Dirección" formControlName="direccion">
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Dirección</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </m-portlet>
                            </div>

                            <div class="col-xl-12">
                                <m-portlet>
                                    <ng-container mPortletHeadTitle>
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                Datos Adicioanales
                                            </h3>
                                        </div>
                                    </ng-container>

                                    <ng-container mPortletBody>
                                        <div class="m-form__group">
                                            <div class="row">
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                                <div class="col-md-7 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese Grado Académico" formControlName="gradoAcademico">
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Grado Académico</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" formControlName="fechaNacimiento">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Fecha Nacimiento</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>


                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-form__group">
                                            <div class="row">
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                                <div class="col-md-4 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese N° Licencia" formControlName="nroLicencia">
                                                        <mat-error>
                                                            N° Licencia
                                                            <strong>es obligatorio.</strong>
                                                        </mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Nro Licencia</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [matDatepicker]="picker2" placeholder="Inicio Vigencia" formControlName="inicioVigencia">
                                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker2></mat-datepicker>
                                                        <mat-error>
                                                            Inicio Vigencia
                                                            <strong>es obligatorio.</strong>
                                                        </mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Inicio de Vigencia</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-3 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [matDatepicker]="picker3" placeholder="Fin Vigencia" formControlName="finVigencia">
                                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker3></mat-datepicker>
                                                        <mat-error>
                                                            Fin Vigencia
                                                            <strong>es obligatorio.</strong>
                                                        </mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Fin de Vigencia</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>


                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-form__group">
                                            <div class="row">
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                                <div class="col-md-2 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese Clase" formControlName="clase">
                                                        <mat-error>
                                                            Clase
                                                            <strong>es obligatorio.</strong>
                                                        </mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Clase</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2 m--margin-bottom-10-mobile">
                                                    <mat-form-field class="mat-form-field-fluid">
                                                        <input matInput placeholder="Ingrese Categoria" formControlName="categoria">
                                                        <mat-error>
                                                            Categoria
                                                            <strong>es obligatorio.</strong>
                                                        </mat-error>
                                                        <mat-hint align="start">Por Favor ingrese
                                                            <strong>Categoria</strong>
                                                        </mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-2 m--margin-bottom-10-mobile">
                                                    <mat-checkbox formControlName="copiaDni">Copia Dni</mat-checkbox>
                                                </div>
                                                <div class="col-md-2 m--margin-bottom-10-mobile">
                                                    <mat-checkbox formControlName="antecedentesPenales">Antec. Penales</mat-checkbox>
                                                </div>
                                                <div class="col-md-2 m--margin-bottom-10-mobile">
                                                    <mat-checkbox formControlName="informePsicologico">Inf. Psicológico </mat-checkbox>
                                                </div>
                                                <div class="col-md-1 m--margin-bottom-10-mobile">
                                                </div>
                                            </div>
                                        </div><br>
                                    </ng-container>
                                </m-portlet>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <m-portlet>
                                <ng-container mPortletHeadTitle>
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Foto Conductor
                                        </h3>
                                    </div>
                                </ng-container>
                                <ng-container mPortletBody>
                                    <div class="m-form__group">
                                        <div class="row">
                                            <div class="col-md-3 m--margin-bottom-10-mobile">
                                            </div>
                                            <div class="col-md-6 m--margin-bottom-10-mobile">
                                                <div class="m-card-profile__pic">
                                                    <div class="m-card-profile__pic-wrapper">
                                                        <!-- <img src="./assets/app/media/img/users/user4.png" alt="" style="min-width: 100%; margin-top: 50px;"> -->
                                                        <img src="http:\\danper-fs1\Infosys\TecnologiasInformacion\SeleccionPersonal\Postulantes\Oferta-3\47934182\escritorio.png" alt="Foto Perfil" style="min-width: 100%; margin-top: 50px;">
                                                        <!-- <img src="http:\\danper-fs1\Infosys\TecnologiasInformacion\SeleccionPersonal\Postulantes\Oferta-3\47934182\escritorio.png" alt="Árbol con ramas" /> -->



                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 m--margin-bottom-10-mobile">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-form__group">
                                        <div class="row">
                                            <div class="col-md-12 m--margin-bottom-10-mobile">
                                                <mat-form-field class="col-md-12">
                                                    <ngx-mat-file-input formControlName="imgenPerfil" placeholder="Seleccione una foto." [accept]="'.png, .jpg'"></ngx-mat-file-input>
                                                    <mat-icon matSuffix>image</mat-icon>
                                                </mat-form-field>

                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </m-portlet>
                        </div>
                    </div>
                </form>
            </div>

        </ng-container>

    </m-portlet>
</div>