<div id='content'>
    <m-portlet [options]="{headLarge: true, enableSticky: false}" [loading$]="loading$">
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ getComponentTitle() }}
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletHeadTools>
            <div class="m-buttons--wrapper">
                <button type="button" (click)="goBack()" mat-raised-button matTooltip="Volver a la lista de liquidaciones">
                    <fa name="arrow-left"></fa>&nbsp;Atrás
                </button>&nbsp;
            </div>

            <div *ngIf='!banNuevo' class="m-buttons--wrapper">
                <button type="button" (click)="downloadEXCEL()" mat-raised-button matTooltip="Exportar Excel" style='background: #016E38; color: white; !important'>
                    <fa name="file-excel" inverse='true'></fa>&nbsp;Exportar Excel
                </button>&nbsp;
            </div>

            <div *ngIf='banNuevo' class="m-buttons--wrapper">
                <button mat-raised-button (click)="reset()" [disabled]="isReset" matTooltip="Limpiar campos">
                        <fa name="broom"></fa>&nbsp;Limpiar
                </button>&nbsp;
            </div>

            <div *ngIf='banNuevo' class="m-buttons--wrapper">
                <button type="button" [disabled]="!(selection.selected.length > 0)" (click)="saveLiquidacion()" mat-raised-button color="primary" matTooltip="Registrar">
                        <fa name="save"></fa>&nbsp;Registrar
                </button>
            </div>
        </ng-container>
        <ng-container mPortletBody>
            <div class="m-form m-form--group-seperator-dashed">
                <div *ngIf='banNuevo' class="m-form__section m-form__section--first">
                    <div class="m-form__group">
                        <div class="row">

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                            </div>

                            <div class="col-md-3 m--margin-bottom-10-mobile">
                                <mat-form-field class="example-full-width">
                                    <input [attr.disabled]="isValid?'true':null" type="text" placeholder="Conductor" aria-label="Number" matInput [formControl]="conductor" [matAutocomplete]="auto" required>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]='option.nombres'>
                                            {{ option.nombres }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="conductor.hasError('required')">Ingrese un conductor</mat-error>
                                    <mat-hint align="start">
                                        <strong>Ingrese Conductor</strong>
                                    </mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                                <div class="m-form__control">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="filterFechaIni" [max]="maxDateIni" matInput [matDatepicker]="picker" placeholder="Fecha Inicio" (dateChange)="loadLiquidacionFechaIni()">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-hint align="start">
                                            <strong>Filtro Fecha Inicio</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                                <div class="m-form__control">
                                    <mat-form-field class="example-full-width">
                                        <input [(ngModel)]="filterFechaFin" [min]="minDateFin" [max]="maxDateFin" matInput [matDatepicker]="picker2" placeholder="Fecha Fin" (dateChange)="loadLiquidacionFechaFin()">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-hint align="start">
                                            <strong>Filtro Fecha Fin</strong>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                                <div class="m-form__control">
                                    <button mat-raised-button type="button" (click)="searchViajesConductor()">
                                        <i class="la la-search"></i>
                                        Buscar
                                    </button>
                                </div>
                                <div class="d-md-none m--margin-bottom-10"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div *ngIf='!banNuevo' class="m-form__section m-form__section--first">
                    <div class="m-form__group">
                        <div class="row">
                            <div class="col-md-3 m--margin-bottom-10-mobile">
                                <label class="col-lg-3 col-form-label">Nro Liqu.</label>
                                <mat-form-field class="col-md-7">
                                    <input matInput disabled='disabled' [(ngModel)]="nroLiquidacion_view" style="font-size: 16px; color: black; font-weight: bold;">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                                <label class="col-md-2 col-form-label">Fecha:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field class="col-md-7">
                                    <input matInput disabled='disabled' [ngModel]="fecha_view | date :'dd/MM/yyyy'">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3 m--margin-bottom-10-mobile">
                                <label class="col-lg-2 col-form-label">Conductor:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field class="col-md-9">
                                    <input matInput disabled='disabled' [(ngModel)]="conductor_view">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                                <label class="col-lg-6 col-form-label">Total Pagar:</label>
                                <mat-form-field class="col-md-6">
                                    <input matInput disabled='disabled' [ngModel]="pagar_view | currency:'S/ '" style="color: red; font-weight: bold">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                                <label class="col-lg-2 col-form-label">Total:</label>&nbsp;&nbsp;
                                <mat-form-field class="col-md-7">
                                    <input matInput disabled='disabled' [ngModel]="total_view | currency:'S/ '" style="color: red; font-weight: bold">
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf='banNuevo' class="m-form__filtration">
                <div class="row align-items-center">


                    <div class="col-md-4 m--margin-bottom-4-mobile">
                        <label class="col-lg-4 col-form-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nro Liquidación:</label>
                        <mat-form-field class="col-md-7">
                            <input matInput disabled='disabled' [(ngModel)]="nroLiquidacion" style="font-size: 16px; color: black; font-weight: bold;">
                        </mat-form-field>
                    </div>

                    <div class="col-md-5 m--margin-bottom-6-mobile">
                        <div class="m-form__control">
                        </div>
                    </div>

                    <div class="col-md-3 m--margin-bottom-2-mobile">
                        <label class="col-lg-5 col-form-label" style="font-size: 18px; color: red; font-weight: bold;">Total Neto:</label>
                        <mat-form-field class="col-md-7">
                            <input matInput disabled='disabled' [ngModel]="(total | number : '1.2-2') | currency:'S/ '" style="font-size: 18px; color: red; font-weight: bold; text-align: center;">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="mat-table__wrapper">
                <mat-table class="mat-elevation-z8" [dataSource]="listData" matSort>

                    <ng-container matColumnDef="select" sticky>
                        <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                            <mat-checkbox *ngIf='banNuevo' (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                            <mat-checkbox *ngIf='banNuevo' (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="atencionobservacion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">
                            <span class="m-badge m-badge--{{ getDetalleCssClassByEstado(lesson.atencionobservacion) }} m-badge--wide">{{ getDetalleEstadoString(lesson.atencionobservacion) }}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fechasolicitud">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Servicio</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.fechasolicitud | date :'dd/MM/yyyy'}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fechainicioviaje">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>H. Inicio Servicio</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.fechainicioviaje | date : 'h:mm a'}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fechafinviaje">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>H. Fin Servicio</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.fechafinviaje | date : 'h:mm a'}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="solicitante">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Solicitante</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.solicitante}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="origen">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Origen</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.origen}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="destino">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Destino</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.destino}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="unidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>N° Unidad</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.unidad}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="placa">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Placa</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.placa}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cliente">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.cliente}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="monto">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tarifa</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.monto | currency:'S/ '}}</mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="montoliquidado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Monto Liquidado</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.montoliquidado | currency:'S/ '}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            Acciones
                        </mat-header-cell>
                        <mat-cell *matCellDef="let lesson">
                            <button *ngIf="!lesson.atencionobservacion && lesson.atencionobservacion !== null" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="updateTarifa(lesson.viaje)" matTooltip="Modificar Tarifa">
                                <mat-icon>edit</mat-icon>
                            </button>&nbsp;
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            No se encontraron registros.
                        </mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
                </mat-table>
            </div>

            <div class="mat-table__bottom">
                <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
                <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>

        </ng-container>
    </m-portlet>
</div>