.mat-table {
    overflow: auto;
}

.mat-form-field-flex {
    font-size: 14px;
    line-height: 1em;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    padding: 2px;
}

.mat-column-solicitante,
.mat-column-cliente {
    font-size: 12px;
    min-width: 220px;
    width: 100%;
}

.mat-column-origen,
.mat-column-destino,
{
    font-size: 12px;
    min-width: 280px;
    width: 100%;
}

.mat-column-fecha,
.mat-column-horaInicio,
.mat-column-horaFin {
    font-size: 12px;
    min-width: 120px;
    width: 100%;
}

.mat-column-unidad {
    font-size: 12px;
    min-width: 100px;
    width: 100%;
}

.mat-column-atencionobservacion {
    font-size: 12px;
    min-width: 100px;
    width: 100%;
}

.mat-column-placa {
    font-size: 12px;
    min-width: 100px;
    width: 100%;
}

.mat-column-monto {
    font-size: 12px;
    min-width: 100px;
    width: 100%;
}

.mat-column-montoliquidado {
    font-size: 12px;
    min-width: 90px;
    width: 100%;
}

.mat-row,
.mat-header-row {
    min-width: 2200px;
    width: 100%;
}