<div id='content'>
    <m-portlet [options]="{headLarge: true, enableSticky: false}" [loading$]="loading$">
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ getComponentTitle() }}
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletHeadTools>
            <button type="button" class="mat-raised-button" (click)="goBack()" data-wizard-action="prev">
              <span>
                  <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                  <span>Regresar Listado</span>
              </span>
          </button>&nbsp;
            <button *ngIf="!isUpdate" type="button" class="mat-raised-button" (click)="resetPropietario()" [disabled]="isUpdate">
              <span>
                  <fa name="broom"></fa>&nbsp;
                  <span>Limpiar</span>
              </span>
          </button>&nbsp;

            <button *ngIf="isUpdate" type="button" class="mat-raised-button" [routerLink]="['/configuracion/propietario/add']">
                  <span>
                      <fa name="plus"></fa>&nbsp;
                      <span>Nuevo Propietario</span>
                  </span>
              </button>&nbsp;
            <button type="button" (click)="onSumbitNew()" class="btn btn-danger m-btn m-btn--custom m-btn--icon" [disabled]="isSave" matTooltip="Guardar Datos">
              <span>
                  <fa name="save"></fa>&nbsp;
                  <span>Registrar</span>&nbsp;
                  <i class="fa fa-spinner fa-spin" *ngIf="isSave"></i>
              </span>
          </button>
        </ng-container>

        <ng-container mPortletBody>
            <div class="m-form">
                <form [formGroup]="formPropietario" class="m-form">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-4 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Nombres" formControlName="nombres" required>
                                            <mat-error>
                                                Nombres
                                                <strong>es obligatorio.</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Nombres</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Apellidos" formControlName="apellidos" required>
                                            <mat-error>
                                                Apellidos
                                                <strong>es obligatorio.</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Apellidos</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <mat-select #singleSelect class="mat-form-field mat-form-field-fluid" formControlName="tipoDoc" placeholder="Tipo Doc." (selectionChange)="onChangeTipoDoc($event)" required>
                                                <mat-option value="DNI"> DNI </mat-option>
                                                <mat-option value="RUC"> RUC </mat-option>
                                            </mat-select>
                                            <mat-error>
                                                Tipo Doc.
                                                <strong>es obligatorio.</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por favor ingresar
                                                <strong>Tipo Doc</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese N° Documento" formControlName="nroDocumento" required maxlength="{{maximo}}">
                                            <mat-error><span *ngIf="formPropietario.controls['nroDocumento'].hasError('required')">N° Documento <strong>es obligario</strong></span></mat-error>
                                            <mat-error><span *ngIf="formPropietario.controls['nroDocumento'].hasError('pattern')">N° Documento <strong>ingrese solo números.</strong></span></mat-error>
                                            <mat-error><span *ngIf="formPropietario.controls['nroDocumento'].hasError('minlength')">N° Documento <strong>debe tener {{maximo}} digitos.</strong></span></mat-error>
                                            <mat-error><span *ngIf="formPropietario.controls['nroDocumento'].hasError('maxlength')">N° Documento <strong>debe tener {{maximo}} digitos.</strong></span></mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>DNI</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Telefono" formControlName="telefono1" required>
                                            <mat-error><span *ngIf="formPropietario.controls['telefono1'].hasError('required')">Teléfono <strong>es obligario</strong></span></mat-error>
                                            <mat-error><span *ngIf="formPropietario.controls['telefono1'].hasError('pattern')">Teléfono <strong>ingrese solo números.</strong></span></mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Telefono</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Telefono Opcional" formControlName="telefono2">
                                            <mat-error>
                                                Telefono
                                                <strong>ingrese solo números.</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Telefono</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-4 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Dirección" formControlName="direccion">
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Dirección</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Email" formControlName="correo">
                                            <mat-error>
                                                Email
                                                <strong>incorrecto.</strong>
                                            </mat-error>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Email</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 m--margin-bottom-10-mobile">
                                        <mat-checkbox formControlName="activo">Activo</mat-checkbox>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>
                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-4 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <input matInput placeholder="Ingrese Grado Académico" formControlName="gradoAcademico">
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Grado Academico</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 m--margin-bottom-10-mobile">
                                        <mat-form-field class="example-full-width">
                                            <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" formControlName="fechaNacimiento">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                            <mat-hint align="start">Por Favor ingrese
                                                <strong>Fecha Nacimiento</strong>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-1 m--margin-bottom-10-mobile">
                                        <mat-checkbox formControlName="copiaDni">Copia DNI</mat-checkbox>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>

                            <div class="m-form__group">
                                <div class="row">
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                    <div class="col-md-8 m--margin-bottom-10-mobile">
                                        <mat-form-field class="mat-form-field-fluid">
                                            <textarea matInput rows="5" placeholder="Observaciones" formControlName="observacion"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 m--margin-bottom-10-mobile">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </ng-container>

    </m-portlet>
</div>