.mat-table {
    overflow: auto;
}

.mat-form-field-flex {
    font-size: 14px;
    line-height: 1em;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    padding: 2px;
}

.mat-column-solicitante {
    font-size: 13px;
    min-width: 250px;
    width: 100%;
}

.mat-column-origen,
.mat-column-destino {
    font-size: 13px;
    min-width: 300px;
    width: 100%;
}

.mat-column-fechasolicitud,
.mat-column-horasolicitud {
    font-size: 13px;
    min-width: 120px;
    width: 100%;
}

.mat-column-vehiculo {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}

.mat-column-estado {
    font-size: 13px;
    min-width: 100PX;
    width: 100%;
}

.mat-column-tarifa {
    font-size: 13px;
    min-width: 90px;
    width: 100%;
}