<div id='content'>
    <m-portlet [options]="{headLarge: true, enableSticky: false}" [loading$]="loading$">
        <ng-container mPortletHeadTitle>
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ getComponentTitle() }}
                </h3>
            </div>
        </ng-container>
        <ng-container mPortletHeadTools>
            <div class="m-buttons--wrapper">
                <button type="button" (click)="goBack()" mat-raised-button matTooltip="Volver a la lista de liquidaciones">
                  <fa name="arrow-left"></fa>&nbsp;Atrás
              </button>&nbsp;
            </div>

            <div *ngIf='!update' class="m-buttons--wrapper">
                <button type="button" (click)="aprobarLiquidacion()" mat-raised-button matTooltip="Aprobar Liquidación" color="primary">
                  <fa name="check-square" inverse='true'></fa>&nbsp;Aprobar
              </button>&nbsp;
            </div>

            <div *ngIf='!update' class="m-buttons--wrapper">
                <button type="button" (click)="rechazarLiquidacion()" mat-raised-button matTooltip="Rechazar Liquidación" color="warn">
                      <fa name="times-circle" inverse='true'></fa>&nbsp;Rechazar
                  </button>&nbsp;
            </div>

            <div *ngIf='!banNuevo' class="m-buttons--wrapper">
                <button type="button" (click)="downloadEXCEL()" mat-raised-button matTooltip="Exportar Excel" style='background: #016E38; color: white; !important'>
                    <fa name="file-excel" inverse='true'></fa>&nbsp;Exportar Excel
                </button>&nbsp;
            </div>
        </ng-container>
        <ng-container mPortletBody>
            <div class="m-form m-form--group-seperator-dashed">
                <div *ngIf='!banNuevo' class="m-form__section m-form__section--first">
                    <div class="m-form__group">
                        <div class="row">

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                            </div>

                            <div class="col-md-3 m--margin-bottom-10-mobile">
                                <label class="col-lg-3 col-form-label">Nro Liqu.</label>
                                <mat-form-field class="col-md-7">
                                    <input matInput disabled='disabled' [(ngModel)]="nroLiquidacion_view" style="font-size: 16px; color: black; font-weight: bold;">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                                <label class="col-md-2 col-form-label">Fecha:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field class="col-md-7">
                                    <input matInput disabled='disabled' [ngModel]="fecha_view | date :'dd/MM/yyyy'">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 m--margin-bottom-10-mobile">
                                <label class="col-lg-2 col-form-label">Total:</label>&nbsp;&nbsp;
                                <mat-form-field class="col-md-7">
                                    <input matInput disabled='disabled' style="color: red; font-weight: bold;" [ngModel]="total_view | currency:'S/ '">
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf='banNuevo' class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-10 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                        </div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <label class="col-lg-4 col-form-label" style="font-size: 18px; color: red; font-weight: bold;">Total:</label>
                        <mat-form-field class="col-md-7">
                            <input matInput disabled='disabled' [ngModel]="(total | number : '1.2-2') | currency:'S/ '" style="font-size: 18px; color: red; font-weight: bold; text-align: center;">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="mat-table__wrapper">
                <mat-table class="mat-elevation-z8" [dataSource]="listData" matSort>
                    <ng-container matColumnDef="fechasolicitud">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Servicio</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.fechasolicitud | date :'dd/MM/yyyy'}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fechainicioviaje">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>H. Servicio</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.fechainicioviaje | date : 'h:mm a'}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="solicitante">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Solicitante</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.solicitante}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="origen">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Origen</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.origen}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="destino">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Destino</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.destino}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="unidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>N° Unidad</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.unidad}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="placa">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Placa</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.placa}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="observacion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Observacion</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.observacion}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="montoliquidado" stickyEnd>
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tarifa</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">{{lesson.montoliquidado | currency:'S/ '}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="atencionobservacion">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Estado Obs.</mat-header-cell>
                        <mat-cell *matCellDef="let lesson">
                            <span class="m-badge m-badge--{{ getDetalleCssClassByEstado(lesson.atencionobservacion) }} m-badge--wide">{{ getDetalleEstadoString(lesson.atencionobservacion) }}</span>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="actions" stickyEnd>
                        <mat-header-cell *matHeaderCellDef>
                            Acciones
                        </mat-header-cell>
                        <mat-cell *matCellDef="let lesson">
                            <div *ngIf="lesson.estado == '0001'">
                                <button *ngIf="lesson.atencionobservacion === true || lesson.atencionobservacion === null" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="registrarObservacion(lesson.viaje)" matTooltip="Realizar Observación">
                                            <mat-icon>message</mat-icon>
                                        </button>&nbsp;
                            </div>

                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            No se encontraron registros.
                        </mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
                </mat-table>
            </div>

            <div class="mat-table__bottom">
                <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
                <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>

        </ng-container>
    </m-portlet>
</div>