<m-portlet [options]="{headLarge: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Liquidaciones de Conductores
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletHeadTools>
        <a [routerLink]="['/procesos/liquidacion-conductor/add']" mat-raised-button color="primary" matTooltip="Crear nueva liquidación" style="background: #F2242E !important">Nueva Liquidación</a>
    </ng-container>

    <ng-container mPortletBody>
        <div class="m-form">
            <!-- start::FILTERS -->
            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">

                        </div>
                    </div>

                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <!-- <mat-form-field class="col-md-12">
                                <mat-select #singleSelect class="mat-form-field mat-form-field-fluid" [formControl]="filterEmpresa" placeholder="Empresa" required>
                                    <mat-option *ngFor="let empresa of arrayEmpresas" [value]="empresa.cliente">
                                        {{empresa.razonSocial}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="filterEmpresa.hasError('required')">Ingrese una empresa</mat-error>
                                <mat-hint align="start">
                                    <strong>Filtro Empresa</strong>
                                </mat-hint>
                            </mat-form-field> -->
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Conductor" aria-label="Number" matInput [formControl]="conductor" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]='option.nombres'>
                                        {{ option.nombres }}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-hint align="start">
                                    <strong>Filtro Conductor</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input [(ngModel)]="filterFechaIni" [max]="maxDateIni" matInput [matDatepicker]="picker" placeholder="Fecha Inicio" (dateChange)="loadLiquidacionFechaIni()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint align="start">
                                    <strong>Filtro Fecha Inicio</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input [(ngModel)]="filterFechaFin" [min]="minDateFin" [max]="maxDateFin" matInput [matDatepicker]="picker2" placeholder="Fecha Fin" (dateChange)="loadLiquidacionFechaFin()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-hint align="start">
                                    <strong>Filtro Fecha Fin</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <button mat-raised-button type="button" (click)="searchLiquidacion()">
                                <i class="la la-search"></i>
                                Buscar
                            </button>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                </div>
            </div>
            <!-- end::FILTERS -->

            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-9 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                        </div>
                    </div>

                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <mat-form-field class="col-md-12 search-form-field">
                            <input matInput [(ngModel)]="searchKey" placeholder="Buscar Liquidación" autocomplete="off" placeholder="Buscar" class="mat-form-field mat-form-field-fluid" (keyup)="filterLiquidaciones()">
                            <mat-hint align="start">
                                <strong>Buscar en todos los campos</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort>
                <ng-container matColumnDef="fechaliquidacion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Liquidación</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.fechaliquidacion | date :'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="codigoliquidacion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.codigoliquidacion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="dni">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.dni}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Conductor</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.cliente}}</mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="dtipodocumento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Documento</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.dtipodocumento}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Documento</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.documento}}</mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="montopago">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Monto a Pagar</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.montopago | currency:'S/ '}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.total | currency:'S/ '}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <span class="m-badge m-badge--{{ getEmpresaCssClassByEstado(lesson.estado) }} m-badge--wide">{{ getEmpresaEstadoString(lesson.estado) }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Acciones
                    </mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <a [routerLink]="['/procesos/liquidacion-conductor/view']" [queryParams]="{id: lesson.liquidacion}" mat-icon-button style="color: #2D2D2D !important" matTooltip="Ver detalles">
                            <mat-icon>list</mat-icon>
                        </a>&nbsp;
                        <button *ngIf="lesson.estado == '0001'" mat-icon-button style="color: #F2242E !important" type="button" (click)="cancelarLiquidacion(lesson.liquidacion)" matTooltip="Cancelar Liquidación">
                            <mat-icon>attach_money</mat-icon>
                        </button>&nbsp;
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
        </div>


        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <!-- <mat-spinner [diameter]="20" *ngIf="listData.loading$ | async"></mat-spinner> -->
            <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="listData.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator> -->
            <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </ng-container>
    <!-- end::Body -->
</m-portlet>