<!--begin::Signin-->
<!--<div class="m-login__signin">-->
<div class="m-login__logo m-login__title">
    <a href="#">
        <img src="./assets/app/media/img/logos/logo-4.png" width="250px">
    </a>
</div>
<div class="m-login__title">
    <h3>Iniciar Sesión</h3>
</div>

<m-auth-notice></m-auth-notice>

<!--begin::Form-->
<form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput type="email" name="email" placeholder="Email address" autocomplete="off" [(ngModel)]="model.email" #email="ngModel" email="true" required>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput minlength="4" type="password" name="password" placeholder="Password" autocomplete="off" [(ngModel)]="model.password" #password="ngModel" required>
        </mat-form-field>
    </div>
</form>
<!--end::Form-->

<!--begin::Action-->
<div class="m-login__action m-login__action--fit">
    <a href="javascript:;" (click)="forgotPasswordPage($event)" class="m-link">
        <span>Se te olvidó tu contraseña?</span>
    </a>
    <m-spinner-button [options]="spinner" (click)="submit()">Iniciar Sesión</m-spinner-button>
</div>
<!--end::Action-->