<div class="m-widget14">
    <div class="m-widget14__header">
        <h2 class="m-widget14__title">
            Áreas
        </h2>
        <form [formGroup]="formAreas" (ngSubmit)="submitArea()" class="m-form m-form--group-seperator-dashed">
            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                    </div>
                    <div class="col-md-8 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese Área" formControlName="areaNombre" required>
                            <mat-error>
                                Área
                                <strong>es obligatorio.</strong>
                            </mat-error>
                            <mat-hint align="start">Por Favor ingrese
                                <strong>Área</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                    </div>
                </div>
            </div>

            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                    </div>
                    <div class="col-md-8 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese Descripción" formControlName="areaDescripcion">
                            <mat-hint align="start">Por Favor ingrese
                                <strong>Descripción</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                    </div>
                </div>
            </div>

            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                    </div>
                    <div class="col-md-6 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese Ce. Co" formControlName="areaCentroCosto" required>
                            <mat-error><span *ngIf="formAreas.controls['areaCentroCosto'].hasError('required')">Centro de Costos <strong>es obligario</strong></span></mat-error>
                            <mat-error><span *ngIf="formAreas.controls['areaCentroCosto'].hasError('pattern')">Centro de Costos <strong>ingrese solo números.</strong></span></mat-error>
                            <mat-hint align="start">Por Favor ingrese
                                <strong>Ce. Co</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 m--margin-bottom-10-mobile">
                        <mat-checkbox formControlName="areaActivo">Activo</mat-checkbox>
                    </div>
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                    </div>
                </div>
            </div>

            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-4 m--margin-bottom-10-mobile">
                    </div>
                    <div class="col-md-8 m--margin-bottom-10-mobile">
                        <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" (click)="resetArea()">
                            <span>
                                <fa name="broom"></fa>&nbsp;
                                <span>Limpiar</span>
                            </span>
                        </button>&nbsp;&nbsp;
                        <button type="submit" class="btn btn-danger m-btn m-btn--custom m-btn--icon" [disabled]="isSave">
                            <span>
                                <fa name="save"></fa>&nbsp;
                                <span>Registrar</span>&nbsp; 
                                <i class="fa fa-spinner fa-spin" *ngIf="isSave"></i>&nbsp;                                                         
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-12 m--margin-bottom-10-mobile">
                        <div class="mat-table__wrapper mat-table__wrapper--dashboard">
                            <mat-table class="mat-elevation-z8" [dataSource]="listDataArea" matSort>
                                <ng-container matColumnDef="nombre">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Área</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">{{lesson.nombre}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="descripcion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">{{lesson.descripcion}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="centroCosto">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Centro Costo</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">{{lesson.centroCosto}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="activo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">
                                        <span class="m-badge m-badge--{{ getEstadoCssClassByEstado(lesson.activo) }} m-badge--wide">{{ getEstadoString(lesson.activo) }}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>
                                        Acciones
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">
                                        <button mat-icon-button style="color: #2D2D2D !important" type="button" (click)="verAprobadores(lesson.area, lesson.nombre)" matTooltip="Ver Aprobadores">
                                            <i class="fa fa-users"></i>&nbsp;
                                        </button>&nbsp;
                                        <button mat-icon-button style="color: #2D2D2D !important" type="button" (click)="updateDatosArea(lesson.area)" matTooltip="Modificar Área">
                                            <mat-icon>edit</mat-icon>
                                        </button>&nbsp;
                                        <button *ngIf="lesson.activo == true" mat-icon-button style="color: #F2242E !important" type="button" (click)="activarArea(lesson.area, lesson.activo)" matTooltip="Desactivar Área">
                                            <mat-icon>delete</mat-icon>
                                        </button>&nbsp;

                                        <button *ngIf="lesson.activo == false" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="activarArea(lesson.area, lesson.activo)" matTooltip="Activar Área">
                                            <mat-icon>check_box</mat-icon>
                                        </button>&nbsp;
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="4">
                                        No se encontraron registros.
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsArea"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumnsArea"></mat-row>
                                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listDataArea!=null && listDataArea.data.length==0)}"></mat-footer-row>
                            </mat-table>
                        </div>

                        <div class="mat-table__bottom">
                            <mat-spinner [diameter]="20" *ngIf="searchBanArea"></mat-spinner>
                            <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                        </div>

                    </div>

                </div>
            </div>


        </form>
    </div>

</div>