.mat-column-descripcion {
    font-size: 13px;
    min-width: 170px;
    width: 100%;
}

.mat-column-nombre {
    font-size: 13px;
    min-width: 160px;
    width: 100%;
}

.mat-column-centroCosto {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}

.mat-column-activo {
    font-size: 13px;
    min-width: 80px;
    width: 100%;
}

.mat-column-actions {
    font-size: 13px;
    width: 100%;
}