<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile m-login m-login--6" id="m_login">
    <div class="m-grid__item   m-grid__item--order-tablet-and-mobile-2 m-grid m-grid--hor m-login__aside" style="background-image: url(assets/app/media/img/bg/bg-4.png);">
        <div class="m-grid__item">

        </div>

        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver">
            <div class="m-grid__item m-grid__item--middle">
                <span class="" style="font-size: 40px; color: white;">BIENVENIDOS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AL INTRANET DE ETI TAXI.</span>
                <hr style="background-color: white; height: 1px; margin-left: 0%; margin-right: 60%;" />
                <span class="" style="font-size: 20px; color: white;">Viajar seguro ahora es más fácil.</span>
            </div>
        </div>

        <div class="m-grid__item">
            <div class="m-login__info">
                <div class="m-login__section" style="color: white">
                    <span style="color: white">&copy; {{today | date:'yyyy'}} Eti Taxi by <a href="http://extech.pe/" style="color: #FFFFFF" class="m-link" target="_blank">
                        ET Exponential Technologies
                    </a></span>

                </div>
            </div>
        </div>
    </div>

    <div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1 m-login__wrapper">
        <!--begin::Head-->

        <!--end::Head-->

        <!--begin::Body-->
        <div class="m-login__body">
            <m-login *ngIf="action === 'login'" [(action)]="action"></m-login>

            <m-register *ngIf="action === 'register'" [(action)]="action"></m-register>

            <m-forgot-password *ngIf="action === 'forgot-password'" [(action)]="action"></m-forgot-password>
        </div>
        <!--end::Body-->
    </div>
</div>