.mat-table {
    overflow: auto;
}

.mat-form-field-flex {
    font-size: 14px;
    line-height: 1em;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    padding: 2px;
}

.mat-column-solicitante,
.mat-column-origen,
.mat-column-destino,
.mat-column-conductor {
    min-width: 350px;
    width: 100%;
}

.mat-column-fechasolicitud,
.mat-column-horasolicitud {
    min-width: 120px;
    width: 100%;
}

// .mat-column-unidad {
//     min-width: 120px;
//     width: 100%;
// }
.mat-column-vehiculo {
    min-width: 100px;
    width: 100%;
}

.mat-column-estado {
    min-width: 150PX;
    width: 100%;
}

.mat-column-tarifa {
    min-width: 100px;
    width: 100%;
}

.mat-row,
.mat-header-row {
    min-width: 2300px;
    width: 100%;
}