<m-portlet [options]="{headLarge: true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Reporte Servicios Generales
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletHeadTools>
        <div class="m-buttons--wrapper">
            <button type="button" (click)="downloadEXCEL()" mat-raised-button matTooltip="Exportar Excel" style='background: #016E38; color: white; !important'>
                    <fa name="file-excel" inverse='true'></fa>&nbsp;Exportar Excel
                </button>&nbsp;
        </div>


    </ng-container>

    <ng-container mPortletBody>
        <div class="m-form">
            <!-- start::FILTERS -->
            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-1 m--margin-bottom-10-mobile">

                    </div>
                    <div class="col-md-4 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Conductor" aria-label="Number" matInput [formControl]="conductor" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]='option.nombres'>
                                        {{ option.nombres }}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-hint align="start">
                                    <strong>Filtro Conductor</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-1 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input matInput [formControl]="unidad" placeholder="Unidad">
                                <mat-hint align="start">
                                    <strong>Filtro Unidad</strong>
                                </mat-hint>
                                <mat-error *ngIf="unidad.hasError('pattern')">Ingrese solo números</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input matInput [formControl]="placa" placeholder="Placa">
                                <mat-hint align="start">
                                    <strong>Filtro Placa</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-1 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input [(ngModel)]="filterFechaIni" [max]="maxDateIni" matInput [matDatepicker]="picker" placeholder="Fecha Inicio" (dateChange)="loadLiquidacionFechaIni()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint align="start">
                                    <strong>Filtro Fecha Inicio</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                    <div class="col-md-1 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input [(ngModel)]="filterFechaFin" [min]="minDateFin" [max]="maxDateFin" matInput [matDatepicker]="picker2" placeholder="Fecha Fin" (dateChange)="loadLiquidacionFechaFin()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-hint align="start">
                                    <strong>Filtro Fecha Fin</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <button mat-raised-button type="button" (click)="searchReporteServicios()">
                                        <i class="la la-search"></i>
                                        Buscar
                                    </button>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                </div>
            </div>
            <!-- end::FILTERS -->

            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-9 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                        </div>
                    </div>

                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <mat-form-field class="col-md-12 search-form-field">
                            <input matInput [(ngModel)]="searchKey" placeholder="Buscar Liquidación" autocomplete="off" placeholder="Buscar" class="mat-form-field mat-form-field-fluid" (keyup)="filterServicios()">
                            <mat-hint align="start">
                                <strong>Buscar en todos los campos</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort>

                <ng-container matColumnDef="solicitante">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Solicitante</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.solicitante}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fechasolicitud">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.fechasolicitud | date :'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="horasolicitud">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Hora Solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.horasolicitud | date :'h:mm a'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="conductor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Conductor</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.conductor}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="vehiculo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Vehiculo</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.vehiculo}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="origen">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Origen</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.origen}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="destino">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Destino</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.destino}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <span class="m-badge m-badge--{{ getServicioCssClassByEstado(lesson.estado) }} m-badge--wide">{{ getServicioEstadoString(lesson.estado) }}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tarifa">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tarifa</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.tarifa | currency:'S/ '}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
        </div>


        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>




    </ng-container>
    <!-- end::Body -->
</m-portlet>