.mat-column-dni {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}

.mat-column-nombrecompleto {
    font-size: 13px;
    min-width: 380px;
    width: 100%;
}

.mat-column-nrolicencia {
    font-size: 13px;
    //min-width: 380px;
    width: 100%;
}

.mat-column-direccion {
    font-size: 13px;
    min-width: 380px;
    width: 100%;
}

.mat-column-telefono {
    font-size: 13px;
    //min-width: 380px;
    width: 100%;
}

.mat-column-activo {
    font-size: 13px;
    //min-width: 380px;
    width: 100%;
}

.mat-column-actions {
    font-size: 13px;
    //min-width: 380px;
    width: 100%;
}