<m-portlet [options]="{headLarge: true}">

    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Listado de Empresas
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletHeadTools>
        <a [routerLink]="['/configuracion/conductor/add']" mat-raised-button style="background: #F2242E !important; color:white" matTooltip="Crear nuevo conductor">Nuevo Conductor</a>
    </ng-container>

    <ng-container mPortletBody>
        <div class="m-form">
            <!-- start::FILTERS -->
            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-9 m--margin-bottom-10-mobile">

                        <div class="m-form__control">

                        </div>

                    </div>

                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <mat-form-field class="col-md-12 search-form-field">
                            <input matInput [(ngModel)]="searchKey" placeholder="Buscar empresa" autocomplete="off" placeholder="Buscar" class="mat-form-field mat-form-field-fluid" (keyup)="searchConductor()">
                            <mat-hint align="start">
                                <strong>Buscar en todos los campos</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort>
                <ng-container matColumnDef="dni">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.dni}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombrecompleto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres y Apellidos</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.nombrecompleto}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nrolicencia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>N° Licencia</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.nrolicencia}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="direccion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.direccion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.telefono}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="activo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Activo</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <span class="m-badge m-badge--{{ getConductorCssClassByEstado(lesson.activo) }} m-badge--wide">{{ getConductorEstadoString(lesson.activo) }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <a [routerLink]="['/configuracion/conductor/view']" [queryParams]="{id: lesson.conductor}" mat-icon-button style="color: #2D2D2D !important" matTooltip="Ver Vehiculos Asignados">
                            <fa name="taxi"></fa>&nbsp;
                        </a>&nbsp;
                        <a [routerLink]="['/configuracion/conductor/view']" [queryParams]="{id: lesson.conductor}" mat-icon-button style="color: #2D2D2D !important" matTooltip="Ver detalles">
                            <mat-icon>create</mat-icon>
                        </a>&nbsp;

                        <button *ngIf="lesson.activo == true" mat-icon-button style="color: #F2242E !important" type="button" (click)="activarConductor(lesson.conductor, lesson.activo)" matTooltip="Desactivar Área">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;

                        <button *ngIf="lesson.activo == false" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="activarConductor(lesson.conductor, lesson.activo)" matTooltip="Activar Área">
                            <mat-icon>check_box</mat-icon>
                        </button>&nbsp;

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
        </div>


        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="listData.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator> -->
            <mat-paginator [pageSizeOptions]="[10, 50, 100, 200, 500]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>


        <!-- end: BOTTOM -->
    </ng-container>
    <!-- end::Body -->
</m-portlet>