<m-portlet [options]="{headLarge: true}" [loading$]="loading$">

    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Historial de Servicios Aprobados
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <!-- start::FILTERS & GROUP ACTIONS -->

        <div class="m-form">
            <!-- start::FILTERS -->
            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <div class="m-form__control">

                        </div>
                    </div>
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input [(ngModel)]="filterFechaIni" [max]="maxDateIni" matInput [matDatepicker]="picker" placeholder="Fecha Inicio Solicitud" (dateChange)="loadSolicitudFechaIni()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint align="start">
                                    <strong>Filtro Fecha Inicio</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input [(ngModel)]="filterFechaFin" [min]="minDateFin" [max]="maxDateFin" matInput [matDatepicker]="picker2" placeholder="Fecha Fin Solicitud" (dateChange)="loadSolicitudFechaFin()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-hint align="start">
                                    <strong>Filtro Fecha Fin</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <button mat-raised-button type="button" (click)="searchHistorialServicios()">
                              <i class="la la-search"></i>
                              Buscar
                          </button>

                            <!-- <button mat-raised-button color="primary">
                            <span>
                                <i class="la la-puzzle-piece"></i>
                                <span>Buscar</span>
                            </span>
                          </button> -->


                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                </div>
            </div>
            <!-- end::FILTERS -->

            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-9 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                        </div>
                    </div>

                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <mat-form-field class="col-md-12 search-form-field">
                            <input matInput [(ngModel)]="searchKey" autocomplete="off" placeholder="Buscar" class="mat-form-field mat-form-field-fluid" (keyup)="filterServicio()">
                            <mat-hint align="start">
                                <strong>Buscar en todos los campos</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort>
                <ng-container matColumnDef="dni">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.dni}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="solicitante">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Solicitante</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.solicitante}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fechasolicitud">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.fechasolicitud | date :'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fecharespuesta">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Aprobación</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.fecharespuesta | date :'h:mm a'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="origen">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Origen</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.origen}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="destino">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Destino</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.destino}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <span class="m-badge m-badge--{{ getSolicitudCssClassByEstado(lesson.estado) }} m-badge--wide">{{ getSolicitudEstadoString(lesson.estado) }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>

            <!-- start: BOTTOM -->
            <div class="mat-table__bottom">
                <!-- <mat-spinner [diameter]="20" *ngIf="listData.loading$ | async"></mat-spinner> -->
                <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
                <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="listData.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator> -->
                <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
            <!-- end: BOTTOM -->

        </div>

    </ng-container>
</m-portlet>