<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-progress">
            <!-- here can place a progress bar-->
            <mat-progress-bar mode="indeterminate" *ngIf="viewLoading"></mat-progress-bar>
        </div>
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
        <i class="la la-gear"></i>
      </span>
                <h3 class="m-portlet__head-text">
                    {{data.title}}
                </h3>
            </div>
        </div>
    </div>
    <div class="m-form">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-12">
                    {{ viewLoading ? data.waitDesciption : data.description}}
                </div><br><br>
                <div *ngIf="data.tipo == 1" class="col-lg-3">
                </div>
                <div *ngIf="data.tipo == 1" class="col-lg-9">
                    <mat-form-field class="col-md-8">
                        <input matInput [formControl]="unidad" placeholder="N° Unidad" required>
                        <mat-error *ngIf="unidad.hasError('required')">Ingrese Unidad</mat-error>
                        <mat-error *ngIf="unidad.hasError('pattern')">Ingrese un número entero</mat-error>
                    </mat-form-field>
                </div><br>
                <div *ngIf="data.tipo == 1" class="col-lg-3">
                </div>
                <div *ngIf="data.tipo == 1" class="col-lg-9">
                    <mat-form-field class="col-md-8">
                        <input matInput [formControl]="tiempo" placeholder="Tiempo Llegada (min)" required>
                        <mat-error *ngIf="tiempo.hasError('required')">Ingrese Tiempo LLegada</mat-error>
                        <mat-error *ngIf="tiempo.hasError('pattern')">Ingrese un número entero</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit text-right">
            <div class="m-form__actions m-form__actions--sm">
                <button mat-button (click)="onNoClick()">Cerrar</button>&nbsp;
                <button *ngIf="data.tipo == 1" mat-button (click)="onYesClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Asignar Viaje</button>
                <button *ngIf="data.tipo == 2" mat-button (click)="onYesClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Cancelar Viaje</button>
                <button *ngIf="data.tipo == 3" mat-button (click)="onYesClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Finalizar Viaje</button>
            </div>
        </div>
    </div>
</div>