.mat-column-nombrecompleto {
    font-size: 13px;
    min-width: 200px;
    width: 100%;
}

.mat-column-usuario {
    font-size: 13px;
    min-width: 80px;
    width: 100%;
}

.mat-column-dni {
    font-size: 13px;
    min-width: 80px;
    width: 100%;
}

.mat-column-principal {
    font-size: 13px;
    min-width: 80px;
    width: 100%;
}

.mat-column-activo {
    font-size: 13px;
    min-width: 80px;
    width: 100%;
}

.mat-column-actions {
    font-size: 13px;
    width: 100%;
}