<div class="m-widget14">
    <div class="m-widget14__header">
        <h2 class="m-widget14__title">
            Aprobadores - {{nombre_area}}
        </h2>
        <form [formGroup]="formAprobadores" (ngSubmit)="submitAprobador()" class="m-form m-form--group-seperator-dashed">
            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-6 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese Nombres" formControlName="aprobadorNombres" required>
                            <mat-error>
                                Nombres
                                <strong>required</strong>
                            </mat-error>
                            <mat-hint align="start">Por Favor ingrese
                                <strong>Nombres</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese Apellidos" formControlName="aprobadorApellidos" required>
                            <mat-error>
                                Apellidos
                                <strong>required</strong>
                            </mat-error>
                            <mat-hint align="start">Por Favor ingrese
                                <strong>Apellidos</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>

                </div>
            </div>


            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-6 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese DNI" formControlName="aprobadorDni" required maxlength="8">
                            <mat-error><span *ngIf="formAprobadores.controls['aprobadorDni'].hasError('required')">DNI <strong>es obligario</strong></span></mat-error>
                            <mat-error><span *ngIf="formAprobadores.controls['aprobadorDni'].hasError('pattern')">DNI <strong>ingrese solo números.</strong></span></mat-error>
                            <mat-error><span *ngIf="formAprobadores.controls['aprobadorDni'].hasError('minlength')">DNI <strong>debe tener 8 digitos.</strong></span></mat-error>
                            <mat-error><span *ngIf="formAprobadores.controls['aprobadorDni'].hasError('maxlength')">DNI <strong>debe tener 8 digitos.</strong></span></mat-error>
                            <mat-hint align="start">Por Favor ingrese
                                <strong>DNI</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-md-5 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese Email" formControlName="aprobadorCorreo">
                            <mat-error>
                                Email
                                <strong>no tiene formato correcto.</strong>
                            </mat-error>
                            <mat-hint align="start">Por Favor ingrese
                                <strong>Email</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 m--margin-bottom-10-mobile">
                        <mat-checkbox formControlName="aprobadorPrincipal">Principal</mat-checkbox>
                    </div>
                </div>
            </div>

            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-6 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese Usuario" formControlName="aprobadorUsuario" required>
                            <mat-error>
                                Usuario
                                <strong>required</strong>
                            </mat-error>
                            <mat-hint align="start">Por Favor ingrese
                                <strong>Usuario</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5 m--margin-bottom-10-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input matInput placeholder="Ingrese Contraseña" [type]="hide ? 'password' : 'text'" formControlName="aprobadorContrasena">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-hint align="start">Por Favor ingrese
                                <strong>Constraseña</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1 m--margin-bottom-10-mobile">
                        <mat-checkbox formControlName="aprobadorActivo">Activo</mat-checkbox>
                    </div>
                </div>
            </div>

            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-4 m--margin-bottom-10-mobile">
                    </div>
                    <div class="col-md-8 m--margin-bottom-10-mobile">
                        <button type="button" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" (click)="resetAprobadores()">
                            <span>
                                <fa name="broom"></fa>&nbsp;
                                <span>Limpiar</span>
                            </span>
                        </button>&nbsp;&nbsp;
                        <button type="submit" class="btn btn-danger m-btn m-btn--custom m-btn--icon" [disabled]="isSave" data-wizard-action="next">
                            <span>
                                <fa name="save"></fa>&nbsp;
                                <span>Registrar</span>&nbsp;
                                <i class="fa fa-spinner fa-spin" *ngIf="isSave"></i>&nbsp;  
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="m-form__group">
                <div class="row">
                    <div class="col-md-12 m--margin-bottom-10-mobile">
                        <div class="mat-table__wrapper mat-table__wrapper--dashboard">
                            <mat-table class="mat-elevation-z8" [dataSource]="listDataAprobadores" matSort>
                                <ng-container matColumnDef="nombrecompleto">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres y Apellidos</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">{{lesson.nombrecompleto}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="usuario">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">{{lesson.usuario}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="dni">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">{{lesson.dni}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="principal">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Principal</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">
                                        <mat-checkbox [disabled]="true" [checked]="lesson.principal">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="activo">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">
                                        <span class="m-badge m-badge--{{ getEstadoCssClassByEstado(lesson.activo) }} m-badge--wide">{{ getEstadoString(lesson.activo) }}</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef>
                                        Acciones
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let lesson">
                                        <button mat-icon-button style="color: #2D2D2D !important" type="button" (click)="updateDatosAprobador(lesson.aprobador)" matTooltip="Modificar Aprobador">
                                                                <mat-icon>edit</mat-icon>
                                                            </button>&nbsp;
                                        <button *ngIf="lesson.activo == true" mat-icon-button style="color: #F2242E !important" type="button" (click)="activarAprobador(lesson.aprobador, lesson.activo)" matTooltip="Desactivar Área">
                                            <mat-icon>delete</mat-icon>
                                        </button>&nbsp;

                                        <button *ngIf="lesson.activo == false" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="activarAprobador(lesson.aprobador, lesson.activo)" matTooltip="Activar Área">
                                            <mat-icon>check_box</mat-icon>
                                        </button>&nbsp;
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef colspan="6">
                                        No se encontraron registros.
                                    </mat-footer-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsApro"></mat-header-row>

                                <mat-row *matRowDef="let row; columns: displayedColumnsApro"></mat-row>
                                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listDataAprobadores!=null && listDataAprobadores.data.length==0)}"></mat-footer-row>
                            </mat-table>
                        </div>

                        <div class="mat-table__bottom">
                            <mat-spinner [diameter]="20" *ngIf="searchBanAprobadores"></mat-spinner>
                            <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>