<!-- begin::Footer -->
<div class="m-container m-page__container m-container--full-height" [ngClass]="footerContainerClass$ | async">
    <div class="m-footer__wrapper">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
				2019 &copy; Eti Taxi by
				<a href="http://extech.pe/" class="m-link" target="_blank" style="color: #2D2D2D !important">
					ET Exponential Technologies
				</a>
			</span>
            </div>
        </div>
    </div>
</div>
<!-- end::Footer -->