<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-progress">
            <!-- here can place a progress bar-->
            <mat-progress-bar mode="indeterminate" *ngIf="viewLoading"></mat-progress-bar>
        </div>
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
        <i class="la la-gear"></i>
      </span>
                <h3 class="m-portlet__head-text">
                    {{data.title}}
                </h3>
            </div>
        </div>
    </div>
    <div class="m-form">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-12">
                    {{ viewLoading ? data.waitDesciption : data.description}}
                </div><br><br>

                <div class="col-lg-4">

                </div>

                <div class="col-lg-4">


                    <mat-form-field class="col-md-12">
                        <input matInput [formControl]="monto" placeholder="Tarifa" required>
                        <mat-error *ngIf="monto.hasError('required')">Ingrese la nueva tarifa.</mat-error>
                        <mat-error *ngIf="monto.hasError('pattern')">Formato no incorrecto (0.00)</mat-error>
                    </mat-form-field>
                </div>



            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit text-right">
            <div class="m-form__actions m-form__actions--sm">
                <button mat-button (click)="onNoClick()">Cancel</button>&nbsp;
                <button *ngIf="this.data.tipo == 1 || this.data.tipo == 2" mat-button (click)="onYesClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Modificar</button>
                <button *ngIf="this.data.tipo == 3 || this.data.tipo == 4" mat-button (click)="onYesConductorClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Modificar</button>
            </div>
        </div>
    </div>
</div>