<m-portlet [options]="{headLarge: true}" [loading$]="loading$">

    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Aprobación de Servicios
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <!-- start::FILTERS & GROUP ACTIONS -->

        <div class="m-form">


            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-9 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                        </div>
                    </div>

                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <mat-form-field class="col-md-12 search-form-field">
                            <input matInput [(ngModel)]="searchKey" autocomplete="off" placeholder="Buscar" class="mat-form-field mat-form-field-fluid" (keyup)="filterServicios()">
                            <mat-hint align="start">
                                <strong>Buscar en todos los campos</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>


        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort>

                <ng-container matColumnDef="dni">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.dni}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="solicitante">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres y Apellidos</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.solicitante}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.fecha | date :'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="hora">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Hora Solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.hora | date :'h:mm a'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="origen">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Origen</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.origen}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="destino">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Destino</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.destino}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="tarifa" stickyEnd>
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tarifa</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.tarifa | currency:'S/ '}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <span class="m-badge m-badge--{{ getSolicitudCssClassByEstado(lesson.estado) }} m-badge--wide">{{ getSolicitudEstadoString(lesson.estado) }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Acciones
                    </mat-header-cell>
                    <mat-cell *matCellDef="let lesson">

                        <button *ngIf="lesson.estado == '0001'" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="aceptarServicio(lesson.aprobacionservicio, lesson.tokenfcm, lesson.viaje, lesson.areacliente)" matTooltip="Aprobar Servicio">
                          <mat-icon>check_box</mat-icon>
                      </button>&nbsp;

                        <button *ngIf="lesson.estado == '0001'" mat-icon-button style="color: #F2242E !important" type="button" (click)="rechazarServicio(lesson.aprobacionservicio, lesson.tokenfcm, lesson.viaje)" matTooltip="Rechazar Servicio">
                          <mat-icon>cancel</mat-icon>
                      </button>&nbsp;
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>

            <!-- start: BOTTOM -->
            <div class="mat-table__bottom">
                <!-- <mat-spinner [diameter]="20" *ngIf="listData.loading$ | async"></mat-spinner> -->
                <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
                <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="listData.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator> -->
                <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
            <!-- end: BOTTOM -->

        </div>

    </ng-container>
</m-portlet>