<m-portlet [options]="{headLarge: true}" [loading$]="loading$">

    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Aprobación de Usuarios
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <!-- start::FILTERS & GROUP ACTIONS -->

        <div class="m-form">
            <!-- start::FILTERS -->
            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">

                        </div>
                    </div>
                    <div class="col-md-2 m--margin-bottom-10-mobile">

                        <div class="m-form__control">
                            <mat-form-field>
                                <mat-select [(value)]="filtroEstado" class="mat-form-field mat-form-field-fluid">
                                    <mat-option value="">Todos</mat-option>
                                    <mat-option value="0001">Pendiente</mat-option>
                                    <mat-option value="0002">Aprobado</mat-option>
                                    <mat-option value="0003">Rechazado</mat-option>
                                </mat-select>
                                <mat-hint align="start">
                                    <strong>Filtro Estado</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input [(ngModel)]="filterFechaIni" [max]="maxDateIni" matInput [matDatepicker]="picker" placeholder="Fecha Inicio" (dateChange)="loadSolicitudFechaIni()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint align="start">
                                    <strong>Filtro Fecha Inicio</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <mat-form-field class="example-full-width">
                                <input [(ngModel)]="filterFechaFin" [min]="minDateFin" [max]="maxDateFin" matInput [matDatepicker]="picker2" placeholder="Fecha Fin" (dateChange)="loadSolicitudFechaFin()">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                <mat-hint align="start">
                                    <strong>Filtro Fecha Fin</strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                    <div class="col-md-2 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                            <button mat-raised-button type="button" (click)="searchSolicitudCorporativo()">
                                <i class="la la-search"></i>
                                Buscar
                            </button>

                            <!-- <button mat-raised-button color="primary">
                              <span>
                                  <i class="la la-puzzle-piece"></i>
                                  <span>Buscar</span>
                              </span>
                            </button> -->


                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                    </div>

                </div>
            </div>
            <!-- end::FILTERS -->

            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-9 m--margin-bottom-10-mobile">
                        <div class="m-form__control">
                        </div>
                    </div>

                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <mat-form-field class="col-md-12 search-form-field">
                            <input matInput [(ngModel)]="searchKey" autocomplete="off" placeholder="Buscar" class="mat-form-field mat-form-field-fluid" (keyup)="filterUsuarios()">
                            <mat-hint align="start">
                                <strong>Buscar en todos los campos</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <!-- end::FILTERS & GROUP ACTIONS -->
        <div class="row align-items-center collapse m-form__group-actions m--margin-top-20 m--margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
            <div class="col-xl-12">
                <div class="m-form__group m-form__group--inline">
                    <div class="m-form__control m-form__group--inline">

                        <button mat-raised-button color="primary" (click)="confirmarUsuarios()" matTooltip="Aprobar usuarios seleccionados">
                            <mat-icon>check_box</mat-icon> Aprobar Seleccionados
                        </button>&nbsp;

                        <button mat-raised-button color="warn" (click)="rechazarUsuarios()" matTooltip="Rechazar usuarios seleccionados">
                            <mat-icon>cancel</mat-icon> Rechazar Seleccionados
                        </button>&nbsp;

                    </div>
                </div>
            </div>
        </div>

        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort>
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox *ngIf="row.estado == '0001'" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dniSolicitante">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.dniSolicitante}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombres">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres y Apellidos</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.nombres}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="area">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Area</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.area}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="centroCosto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ce. Costos</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.centroCosto}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="fechaSolicitud">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.fechaSolicitud | date :'dd/MM/yyyy'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="horaSolicitud">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Hora Solicitud</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.horaSolicitud | date :'h:mm a'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="dEstado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <span class="m-badge m-badge--{{ getSolicitudCssClassByEstado(lesson.dEstado) }} m-badge--wide">{{ getSolicitudEstadoString(lesson.dEstado) }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                    <mat-header-cell *matHeaderCellDef>
                        Acciones
                    </mat-header-cell>
                    <mat-cell *matCellDef="let lesson">

                        <button *ngIf="lesson.estado == '0001'" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="aceptarUsuario(lesson.aprobacionSolicitud, lesson.tokenFCM)" matTooltip="Aprobar Usuario">
                            <mat-icon>check_box</mat-icon>
                        </button>&nbsp;

                        <button *ngIf="lesson.estado == '0001'" mat-icon-button color="warn" type="button" (click)="rechazarUsuario(lesson.aprobacionSolicitud, lesson.tokenFCM)" matTooltip="Rechazar Usuario">
                            <mat-icon>cancel</mat-icon>
                        </button>&nbsp;
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>

            <!-- start: BOTTOM -->
            <div class="mat-table__bottom">
                <!-- <mat-spinner [diameter]="20" *ngIf="listData.loading$ | async"></mat-spinner> -->
                <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
                <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="listData.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator> -->
                <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 200]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
            <!-- end: BOTTOM -->

        </div>

    </ng-container>
</m-portlet>