.mat-column-documento {
    font-size: 13px;
    min-width: 120px;
    width: 100%;
}

.mat-column-nombrecompleto {
    font-size: 13px;
    min-width: 320px;
    width: 100%;
}

.mat-column-corre {
    font-size: 13px;
    min-width: 180px;
    width: 100%;
}

.mat-column-telefono {
    font-size: 13px;
    //min-width: 380px;
    width: 100%;
}

.mat-column-direccion {
    font-size: 13px;
    min-width: 320px;
    width: 100%;
}

.mat-column-activo {
    font-size: 13px;
    //min-width: 380px;
    width: 100%;
}

.mat-column-actions {
    font-size: 13px;
    //min-width: 380px;
    width: 100%;
}