.mat-column-razonSocial {
    font-size: 13px;
    min-width: 220px;
    width: 100%;
}

.mat-column-ruc {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}

.mat-column-direccion {
    font-size: 13px;
    min-width: 380px;
    width: 100%;
}

.mat-column-activo {
    font-size: 13px;
    min-width: 100px;
    width: 100%;
}