<m-portlet [options]="{headLarge: true}">

    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
                Listado de Empresas
            </h3>
        </div>
    </ng-container>
    <ng-container mPortletHeadTools>
        <a [routerLink]="['/configuracion/empresa/add']" mat-raised-button style="background: #F2242E !important; color:white" matTooltip="Crear nueva empresa">Nueva Empresa</a>
    </ng-container>

    <ng-container mPortletBody>
        <div class="m-form">
            <!-- start::FILTERS -->
            <div class="m-form__filtration">
                <div class="row align-items-center">
                    <div class="col-md-9 m--margin-bottom-10-mobile">

                        <div class="m-form__control">

                        </div>

                    </div>

                    <div class="col-md-3 m--margin-bottom-10-mobile">
                        <mat-form-field class="col-md-12 search-form-field">
                            <input matInput [(ngModel)]="searchKey" placeholder="Buscar empresa" autocomplete="off" placeholder="Buscar" class="mat-form-field mat-form-field-fluid" (keyup)="searchEmpresas()">
                            <mat-hint align="start">
                                <strong>Buscar en todos los campos</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- end::FILTERS -->

            <!-- start::GROUP ACTIONS -->
            <!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
            <!-- Group actions are shared for all LISTS | See '../../_shared' folder -->
            <div class="row align-items-center collapse m-form__group-actions m--margin-top-20 m--margin-bottom-20">
                <div class="col-xl-12">
                    <div class="m-form__group m-form__group--inline">
                        <div class="m-form__control m-form__group--inline">
                            <button mat-raised-button color="accent" matTooltip="Delete selected products">
                                        <mat-icon>delete</mat-icon> Delete All
                                    </button>&nbsp;
                            <!-- Call 'delete-entity-dialog' from _shared folder -->
                            <button mat-raised-button matTooltip="Fetch selected products">
                                        <mat-icon>clear_all</mat-icon> Fetch Selected Records
                                    </button>&nbsp;
                            <!-- Call 'fetch-entity-dialog' from _shared folder -->
                            <button mat-raised-button matTooltip="Update status for selected products">
                                        <mat-icon>update</mat-icon> Update status
                                    </button>
                            <!-- Call 'update-stated-dialog' from _shared folder -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end::GROUP ACTIONS -->
        </div>
        <div class="mat-table__wrapper">
            <mat-table class="lmat-elevation-z8" [dataSource]="listData" matSort>
                <ng-container matColumnDef="razonSocial">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Razon Social</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.razonSocial}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="ruc">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>RUC</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.ruc}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="dominio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Dominio</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.dominio}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="direccion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">{{lesson.direccion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="activo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <span class="m-badge m-badge--{{ getEmpresaCssClassByEstado(lesson.activo) }} m-badge--wide">{{ getEmpresaEstadoString(lesson.activo) }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let lesson">
                        <a [routerLink]="['/configuracion/empresa/view']" [queryParams]="{id: lesson.cliente}" mat-icon-button style="color: #2D2D2D !important" matTooltip="Ver detalles">
                            <mat-icon>create</mat-icon>
                        </a>&nbsp;

                        <button *ngIf="lesson.activo == true" mat-icon-button style="color: #F2242E !important" type="button" (click)="activarCliente(lesson.cliente, lesson.activo)" matTooltip="Desactivar Área">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;

                        <button *ngIf="lesson.activo == false" mat-icon-button style="color: #2D2D2D !important" type="button" (click)="activarCliente(lesson.cliente, lesson.activo)" matTooltip="Activar Área">
                            <mat-icon>check_box</mat-icon>
                        </button>&nbsp;

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No se encontraron registros.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}"></mat-footer-row>
            </mat-table>
        </div>


        <!-- start: BOTTOM -->
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="searchBan"></mat-spinner>
            <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="listData.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator> -->
            <mat-paginator [pageSizeOptions]="[10, 50, 100, 200, 500]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>


        <!-- end: BOTTOM -->
    </ng-container>
    <!-- end::Body -->
</m-portlet>