.mat-table {
    overflow: auto;
}

.mat-form-field-flex {
    font-size: 14px;
    line-height: 1em;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 8px;
    padding: 2px;
}

.mat-column-empresa {
    font-size: 13px;
    min-width: 220px;
    width: 100%;
}

.mat-column-centrocostos {
    font-size: 13px;
    min-width: 95px;
    width: 100%;
}

.mat-column-telefono {
    font-size: 13px;
    min-width: 90px;
    width: 100%;
}

.mat-column-solicitante {
    font-size: 13px;
    min-width: 220px;
    width: 100%;
}

.mat-column-unidad {
    font-size: 13px;
    min-width: 60px;
    text-align: center;
    width: 100%;
}

.mat-column-origen,
.mat-column-destino {
    font-size: 13px;
    min-width: 250px;
    width: 100%;
}

.mat-column-fechasolicitud,
.mat-column-horasolicitud {
    font-size: 13px;
    min-width: 95px;
    width: 100%;
}

.mat-column-estado {
    font-size: 14px;
    min-width: 90PX;
    width: 100%;
}

.mat-column-tarifa {
    font-size: 13px;
    min-width: 90px;
    width: 100%;
}

.mat-row,
.mat-header-row {
    min-width: 1500px;
    width: 100%;
}