<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-progress">
            <!-- here can place a progress bar-->
            <mat-progress-bar mode="indeterminate" *ngIf="viewLoading"></mat-progress-bar>
        </div>
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
        <i class="la la-gear"></i>
      </span>
                <h3 class="m-portlet__head-text">
                    {{data.title}}
                </h3>
            </div>
        </div>
    </div>
    <div class="m-form">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <div class="col-lg-12">
                    {{ viewLoading ? data.waitDesciption : data.description}}
                </div><br>

                <div *ngIf="data.tipo == 1" class="col-lg-12">
                    <mat-form-field class="col-md-12">
                        <mat-select #singleSelect class="mat-form-field mat-form-field-fluid" [formControl]="tipoDoc" placeholder="Tipo Doc.">
                            <mat-option *ngFor="let documento of arrayDoc" [value]="documento.value">
                                {{documento.documento}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="tipoDoc.hasError('required')">Seleccione un tipo de documento</mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field>
                        <input matInput [(ngModel)]="name" placeholder="What's your name?">
                    </mat-form-field> -->
                </div><br>
                <div *ngIf="data.tipo == 1" class="col-lg-12">
                    <mat-form-field class="col-md-3">
                        <input matInput [formControl]="serie" placeholder="Serie" required>
                        <mat-error *ngIf="serie.hasError('required')">Ingrese Serie</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-9">
                        <input matInput [formControl]="documento" placeholder="N° Doc" required>
                        <mat-error *ngIf="documento.hasError('required')">Ingrese Número</mat-error>
                        <mat-error *ngIf="documento.hasError('pattern')">Ingrese solo números</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit text-right">
            <div class="m-form__actions m-form__actions--sm">
                <button mat-button (click)="onNoClick()">Cancel</button>&nbsp;
                <button mat-button (click)="onYesClick()" color="primary" cdkFocusInitial [disabled]="viewLoading">Registrar</button>
            </div>
        </div>
    </div>
</div>